public class Pessoa {
	private String nome;
	private String cpf;
	private String datanascimento;

	public Pessoa(String nome, String cpf, String datanascimento) {
		this.nome = nome;
		this.cpf = cpf;
		this.datanascimento = datanascimento;
	}

	public String getNome() {
		return nome;
	}

	public void setNome(String nome) {
		this.nome = nome;
		System.out.println(nome);
	}

	public String getCpf() {
		return cpf;
	}

	public void setCpf(String cpf) {
		System.out.println(cpf);
		System.out.println(datanascimento);
		this.cpf = cpf;
	}

	public String getData() {
		return datanascimento;
	}

	public void setData(String datanascimento) {
		this.datanascimento = datanascimento;
	}

	public String toString(){
		System.out.println(nome + cpf + datanascimento);
		return (nome + " " + cpf + " " + datanascimento);
	}

	public static void main(String[] args) {

	}
}
